<!doctype html>
{% load static %}
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- CSRF Token -->
    <meta name="csrf-token" content="">

    <title> {% block title %}{% endblock title %} </title>
  
    <!-- Scripts -->
    <script src="{% static 'js/app.js' %}" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="{% static '/css/app.css' %}" rel="stylesheet">
    <link href="{% static '/css/infoPeliculas.css' %}" rel="stylesheet">

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    {% block css %}{% endblock css %}
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container">

                <a class="navbar-brand" href="">
            {% if perms.administracion %}
                    <a href="{% url 'index_administracion' %}" class="nav-link px-2 link-dark">Administración</a>
            {% endif %}
        </ul>
        <div class="col-md-3 text-end">
            {% if user.is_authenticated %}
                {% comment %} <p>Bienvenido\a, {{ user.username }}.</p> {% endcomment %}
                <p type="text" style="display: inline" class="bienvenido">Bienvenido\a, {{ user.username }}.</p>
                <a type="text" style="display: inline" href="{% url 'home' %}" class="password">Cambiar password</a>
                <a type="button"  href="{% url 'logout' %}" class="btn btn-outline-primary me-2">Cerrar Sesión</a>
            {% else %}
                <a type="button" href="{% url 'login' %}" class="btn btn-outline-primary me-2">Iniciar Sesión</a>
                <a type="button" href="{% url 'registrarse' %}" class="btn btn-outline-primary me-2">Registrarse</a>
            {% endif %}
                    
        </div>
        </nav>

        <main class="py-4">
            {% block content %}{% endblock  %}
        </main>
    </div> 
    {% block javascript %}{% endblock javascript %}
</body>
</html>
