{% extends "peliculas/home.html" %}

{% block title %}Detalle Peliculas{% endblock title %}
{% load static %}
{% block css %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock css %}

{% block content %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="container">
    <div class="card ">
        <div class="card-body">
            <div style="height: 90px">
                <p class="text-4xl">{{pelicula.titulo}}</p>
                <p class="text-2xl">{{pelicula.genero}} ({{pelicula.estreno }})</p>
            </div>
            <hr class="mt-2 mb-2" />
            <div>
                <img src="{% static '/'%}{{pelicula.portada_grande}}"  alt="portada_grande"
                class="card-img-top  image imagen_p" style="width:100%; min-height:350px">
            </div>
            <div class="card-body">
                {% comment %} <div class="card-body"> {% endcomment %}
                    <div class="row"> 
                        <div class="col-sm-4">
                            <div style="width: 100%">
                                <img src="{% static '/'%}{{pelicula.portada}}"  alt="Portada"
                                class="card-img-top image imagen_p" style="width:100%;min-height:350px">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <p class="text-4xl">{{pelicula.titulo}}({{pelicula.estreno }})</p>
                            <hr class="mt-2 mb-2" />
                            <p class="text-2xl">{{pelicula.genero}}</p>
                            <hr class="mt-2 mb-2" /> 
                            <strong>Director:</strong> <a href="">{{pelicula.director}}</a>
                            <hr class="mt-2 mb-2" />
                            
                        <div style="height: 160px">
                            <strong>Reparto:</strong> <br class="mt-2 mb-2" />
                            {% for artista in artistas %}
                                {% if artista.pelicula_id == pelicula.id %}
                                    <p>{{artista.artista}}</p>
                                {% endif %}
                            {% endfor %} 
                            <hr class="mt-2 mb-2"/>
                        </div>            
                            <div>
                                <strong>Resumen: </strong> {{pelicula.resumen}}
                            </div>
                        </div>
                        {% comment %} <div class="col-sm-4"> {% endcomment %}
                        {% for plataforma in plataformas %}
                            {% if plataforma.pelicula_id == pelicula.id %}
                                <div class="col-sm-1">
                                    <a href="{% url 'home' %}"><img
                                    src="{% static '/' %}{{plataforma.plataforma.icono}} "width="60" height="60" style="border-radius:10px"></a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>  
                <hr class="mt-2 mb-2" />
                
                {% for calificacion in calificaciones %}
                    {% if calificacion.pelicula_id == pelicula.id and calificacion.usuario_id == user.id  %}
                        <div class="col-sm-5">
                            {% comment %} <strong>usuario: </strong> {{calificacion.usuario_id}}
                            <strong>user: </strong> {{user.id}}
                            <strong>pelicula: </strong> {{calificacion.pelicula_id}}
                            <strong>calificacion.pelicula: </strong> {{pelicula.id}}
                            <strong>calificacion.pelicula: </strong> {{calificacion.puntaje}} {% endcomment %}
                            <input type="number" class="calificacion form-control"  id="calificacion" name="calificacion" value={{calificacion.puntaje}}>
                        </div>
                    {% elif calificacion.pelicula_id == pelicula.id%}
                    <input type="number" class="calificacion form-control"  id="calificacion" name="calificacion" value={{calificacion.puntaje}}>
                        {% comment %} {% if calificacion.pelicula_id != pelicula.id and calificacion.usuario_id != user.id  %}     {% endcomment %}
                            <strong>No hay calificaciones: </strong><hr class="mt-2 mb-2" />
                    {% else %}    
                    <strong>nada: </strong><hr class="mt-2 mb-2" />
                        {% comment %} <div class="col-sm-5">
                            {% include "./estrellas.html" %}
                        </div> {% endcomment %}
                        {% comment %} {% endif %} {% endcomment %}
                    {% endif %}
                {% endfor %}
                

                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-12"><br>
                        <div class="card">
                            <div class="card-body">
                                <div class="col-12">
                                    <h5 class="card-title">Dejanos tu calificacion</h5>
                                    <table id="tabla_calificacion">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <span class="fas fa-star" style="cursor: pointer;" id="1"></span>
                                                    <span class="fas fa-star" style="cursor: pointer;" id="2"></span>
                                                    <span class="fas fa-star" style="cursor: pointer;" id="3"></span>
                                                    <span class="fas fa-star" style="cursor: pointer;" id="4"></span>
                                                    <span class="fas fa-star" style="cursor: pointer;" id="5"></span>
                                                </td>
                                                <td><input type="number" class="calificacion form-control"  id="calificacion" name="calificacion" value={{calificacion.puntaje}}></td>
                                                <td><input type="hidden" class="calificacion form-control"  id="id_usuario" name="id_usuario" value={{user.id}}></td>
                                                <td><input type="submit"  class="ver btn btn-primary" id="boton_calificar" value="Calificar"><a href="{% url 'home' %}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascript %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>
    $('#tabla_calificacion').on('click','tr .ver', function(){
        let row = $(this).closest("tr");
        let calificacion = row.find("td.eq[0]").val();
        {% comment %} alert(calificacion + "segundo script");  {% endcomment %}
    });

    $('#tabla_calificacion').on('click','tr .fa-star', function(e){
        let count;
        console.log(e);
        count = e.currentTarget.id[0];
        let row = $(this).closest("tr");
        row.find('.calificacion').val(count);
        for(let i=0;i<5;i++){
            if(i<count){
                document.getElementById(i+1) .style.color="orange";
            }else{
                document.getElementById(i+1) .style.color="black";
            }
        }
        {% comment %} alert(count);  {% endcomment %}
    });
</script>

{% endblock javascript %}
