{% load static %}
<div class="container">
    <div class="card ">
        <div class="contenedor">
            {% comment %} <a href="{% url 'detalle_pelicula' %}"> {% endcomment %}
                <img src="{% static '/'%}{{pelicula.portada}}"  alt="Portada"
                class="card-img-top image imagen_p" style="width:100%;min-height:350px">
            <div class="middle">
                <div class="texto">
                    <strong>Resumen: </strong> {{pelicula.resumen}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div style="height: 90px">
                <p class="text-2xl">{{pelicula.titulo}}</p>
                {{pelicula.genero}} ({{pelicula.estreno }}) 
            </div>
            <hr class="mt-2 mb-2" />
            <strong>Director:</strong> <a href="">{{pelicula.director}}</a>  
            <hr class="mt-2 mb-2" />
            <div style="height: 90px">
            <strong>Reparto:</strong> <br class="mt-2 mb-2" />
                {% for artista in artistas %}
                    {% if artista.pelicula_id == pelicula.id %}
                        <p>{{artista.artista}}</p>
                    {% endif %}
                {% endfor %} 
                <hr class="mt-2 mb-2"/>
                    {% for plataforma in plataformas %}
                        {% if plataforma.pelicula_id == pelicula.id %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <a href="{% url 'home' %}"><img
                                        src="{% static '/' %}{{plataforma.plataforma.icono}}"></a>
                                    {% comment %} <p>{{plataforma.icono}}</p>    {% endcomment %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %} 
                {% comment %} {% for plataforma in plataformas %}
                    {% if plataforma.pelicula_id == pelicula.id %}
                        <p>{{plataforma.plataforma}}</p>
                    {% endif %}
                {% endfor %}  {% endcomment %}
            </div>            

            <hr class="mt-2 mb-2" />
            {% comment %} <div class="row">
                <div class="col-sm-4"> </div>
                    <div class="col-sm-4">
                        <a href="{% url 'home' %}"><img
                            src="{% static '/imagenes/borrar.png' %}"></a>    
                    </div>
                <div class="col-sm-4">
                    <a href="{% url 'edit2' %}"><img
                            src="{% static '/imagenes/editar.png' %}"></a>
                </div>
            </div>  {% endcomment %}
        </div>
    </div>
</div>

<br>
