{% load static %}
{% block css %}

    <!-- Puntuacion CSS -->
    <link href="{% static '/css/puntuacion.css' %}" rel="stylesheet">

{% endblock css %}

<div class="container">
    <div class="card ">
        <div class="contenedor">
                <a href="{% url 'detalle' pelicula.id %}" title="Detalle">
                <img src="{% static '/'%}{{pelicula.portada}}"  alt="Portada"
                class="card-img-top image imagen_p" style="width:100%;min-height:350px">
            <div class="middle">
                <div class="texto">
                    <strong>Resumen: </strong> {{pelicula.resumen}}
                </div>
            </div>
        </div>
    </div>
</div>

<br>