{% extends "peliculas/base.html" %}

{% block title %}Bienvenidos{% endblock title %}
{% load static %}
{% block css %}
<link href="{% static '/css/infoPeliculas.css' %}" rel="stylesheet">
{% endblock css %} 

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="card ">
                    <div class="card-body">
                        <div class="row" > 
                            {% for ver_plataforma in ver_plataformas %}
                                {% comment %} {% if plataforma.pelicula_id == pelicula.id %} {% endcomment %}
                                    <div class="col-sm-1">
                                        
                                        <a href=""><img
                                        src="{% static '/' %}{{ver_plataforma.icono}}" width="60" height="60" style="border-radius:10px"></a>
                                    </div>
                                {% comment %} {% endif %} {% endcomment %}
                            {% endfor %}
                        </div>  
                    </div>     
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                         
                            {% comment %} {% for pelicula in peliculas %} {% endcomment %}
                            {% comment %} <p>pelicula: {{pelicula.titulo}}</p><hr class="mt-1 mb-2" /> {% endcomment %}
                                {% for genero in generos %}
                                    <div class="container">
                                        <h2 class="h1-responsive font-weight-bold text-left my-4">{{genero.nombre}}</h2>
                                        {% comment %} <p class="text-3xl">{{genero.nombre}}</p> {% endcomment %}
                                        {% comment %} {% for pelicula in peliculas %} {% endcomment %}
                                            {% comment %} {% if pelicula.genero_id == genero.id %} {% endcomment %}
                                            {% comment %} <div class="card-body"> {% endcomment %}
                                                {% comment %} <div class="card-body"> {% endcomment %}
                                                    <div class="row"> 
                                                        {% for pelicula in peliculas %}
                                                        {% if pelicula.genero_id == genero.id %}
                                                            <div class="col-sm-3">
                                                                {% include "./caratula.html" %}
                                                            </div>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% comment %} </div> {% endcomment %}
                                            {% comment %} </div> {% endcomment %}
                                            {% comment %} {% endif %} {% endcomment %}
                                        {% comment %} {% endfor %} {% endcomment %}
                                    </div>

                                    {% comment %} <div class="card-body">
                                        <div class="card-body">
                                            <div class="row"> 
                                                {% for pelicula in peliculas %}
                                                    <div class="col-sm-3">
                                                        {% include "./edit-pelicula.html" %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        <br>
                                    </div> {% endcomment %}



                                    {% comment %} {% if pelicula.genero_id == genero.id %}
                                        <div class="col-sm-3">
                                            <p>algo{{artista.artista}}</p>
                                            {% include "./caratula.html" %}
                                        </div>
                                    {% endif %} {% endcomment %}

                                {% comment %} {% if pelicula.genero_id == genero %}
                                    <div class="col-sm-3">
                                        <p>algo{{artista.artista}}</p>
                                    </div>
                                {% endif %} 
                                <div class="col-sm-3">
                                    {% include "./caratula.html" %}
                                </div> {% endcomment %}
                            {% endfor %}
                        {% comment %} {% endfor %}  {% endcomment %}

                            {% comment %} {% for pelicula in peliculas %}
                                <div class="col-sm-3">
                                    {% include "./caratula.html" %}
                                </div>
                            {% endfor %} {% endcomment %}
                        </div>
                    </div>
                </div>    
{%endblock content%}