{% extends "peliculas/base.html" %}

{% block title %}Bienvenidos{% endblock title %}
{% load static %}
{% block css %}
<link href="{% static '/css/infoPeliculas.css' %}" rel="stylesheet">
{% endblock css %} 

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-11">
            <div class="card">
                <div class="card ">
                    <div class="card-body">
                        <div class="row" > 
                            {% for ver_plataforma in ver_plataformas %}
                                {% comment %} {% if plataforma.pelicula_id == pelicula.id %} {% endcomment %}
                                    <div class="col-sm-1">
                                        
                                        <a href=""><img
                                        src="{% static '/' %}{{ver_plataforma.icono}}" width="60" height="60" style="border-radius:10px"></a>
                                    </div>
                                {% comment %} {% endif %} {% endcomment %}
                            {% endfor %}
                        </div>  
                    </div>     
                </div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="row">
                            {% for pelicula in peliculas %}
                                <div class="col-sm-3">
                                    {% include "./caratula.html" %}
                                </div>
                            {% endfor %}
            {%endblock content%}