/* ★{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
  } */

  
  .container-star{
    font-family: "Poppins",sans-serif;
    display: grid;
    height: 100%;
    place-items: right;
    text-align: right;
    background-color: white;
  }
  
  .container-star .star-widget input{
    display: none;
  }
    
  .star-widget label{
    font-size: 20px;
    color: #125;
    /* padding: 2px; */
    float: left;
    transition: all 0.2s ease;
    cursor: pointer
  }
  input:not(:checked) label:hover,
  input:not(:checked) label:hover label{
    color: #fd4;
  }
  input::checked label{
    color: #fe4;
  }

  input#rate-5:checked label{
    color: #fe7;
    text-shadow: 0 0 20px #952;
  }
  input:checked form{
    display: block;
  }