{% load static %}
    <div class="container">
        <div class="card ">
            <div class="contenedor">
                <img src="C"  alt="Portada"
                    class="card-img-top image imagen_p" style="width:100%;min-height:350px">
                <div class="middle">
                    <div class="texto">
                        <strong>Resumen: </strong> {{pelicula.resumen}}
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div style="height: 90px">
                    <p class="text-2xl"><strong>{{pelicula.titulo}}</strong></p>
                    {{pelicula.genero}} ({{pelicula.estreno }})
                </div>
                    <hr class="mt-2 mb-2" />
                    <strong>Director:</strong> <a href="">{{pelicula.director}}</a> 
                    <hr class="mt-2 mb-2" />
                <div style="height: 90px">
                    <strong>Reparto:</strong> <br class="mt-2 mb-2" />
                    {% for artista in artistas %}
                        {% if artista.pelicula_id == pelicula.id %}
                            <p>{{artista.artista}}</p>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            
        </div>
    </div>
