{% load static %}
<div class="container">
    <div class="card ">
        <div class="contenedor">
            <img src="{% static '/'%}{{pelicula.portada}}"  alt="Portada"
                class="card-img-top image imagen_p" style="width:100%;min-height:350px">
            <div class="middle">
                <div class="texto">
                    <strong>Resumen: </strong> {{pelicula.resumen}}
                </div>
            </div>
        </div>

        <div class="card-body">
            <div style="height: 90px">
                <p class="text-2xl">{{pelicula.titulo}}</p>
                {{pelicula.genero}} ({{pelicula.estreno }}) 
            </div>
            <hr class="mt-2 mb-2" />
            <strong>Director:</strong> <a href="">{{pelicula.director}}</a>  
            <hr class="mt-2 mb-2" />
            <div style="height: 90px">
            <strong>Reparto:</strong> <br class="mt-2 mb-2" />
                {% for artista in artistas %}
                    {% if artista.pelicula_id == pelicula.id %}
                        <p>{{artista.artista}}</p>
                    {% endif %}
                {% endfor %} 
            {% comment %} <a href=""> {{peliculas_list.id_artista1.nombre}} </a> <br class="mt-2 mb-2" />
            {{peliculas_list.id_artista2.nombre}}</a> <br class="mt-2 mb-2" /> {% endcomment %}
            </div>            

            <hr class="mt-2 mb-2" />
            <div class="row">
                <div class="col-sm-4"> </div>
                <div class="col-sm-4">
                    <a href="{% url 'home' %}"><img
                        src="{% static '/imagenes/borrar.png' %}"></a>    
                </div>
                <div class="col-sm-4">
                    <a href="{% url 'edit2' %}"><img
                            src="{% static '/imagenes/editar.jpg' %}"></a>
                </div>
            </div> 
        </div>
    </div>
</div>

<br>
