{% extends 'administracion/base.html' %}

{% block title %}Eliminar genero{% endblock%}

{% block content %}
<h1 class="mt-4">Genero</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'generos_index' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Eliminar genero</li>
</ol>


<div class="card">
    <div class="card-header">Eliminacion de genero</div>
    <div class="card-body">
        <form method="post">{% csrf_token %}
            <p>Esta seguro que quiere eliminar el genero "{{ object.nombre }}"?</p>
            <input type="submit" value="Confirmar" class="btn btn-danger">
        </form>
        
    </div>
</div>
{% endblock %}