{% extends 'administracion/base_administracion.html' %}

{% block title %}Peliculas{% endblock%}

{% block content %}
<p class="text-2xl">Peliculas</p>
<ol class="breadcrumb mb-4">
    {% comment %} <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li> {% endcomment %}
    <li class="breadcrumb-item active">Nueva Pelicula</li>
</ol>


<div class="card">
    <div class="card-header">Creacion de pelicula</div>
    <div class="card-body">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% include 'administracion/peliculas/form.html' %}
        </form>
    </div>
</div>
{% endblock %}