{% extends 'peliculas/base.html' %}

{% block title %}Generos{% endblock%}

{% block content %}
<p class="text-2xl">Generos peliculas</p>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'generos_index' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar Genero</li>
</ol>

<div class="card">
    <div class="card-header">Edicion de genero</div>
    <div class="card-body">
        <form action="" method="post">
            {% csrf_token %}
            {% include 'peliculas/administracion/generos/form.html' %}
        </form>
    </div>
</div>
{% endblock %}